<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MM FoodMarket Data Tool</title>
    @Styles.Render("~/bundles_css")
</head>
<body>
    <div class="container">
        <h1>MM FoodMarket Data Tool</h1>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MM FoodMarket</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles_js")
</body>
</html>